# LaTeX files
*.synctex.gz
*.aux
*.log
*.out

### PROTOTYPE ###

# Netbeans Project
/prototype/nbproject/*
/prototype/OWL/nbproject/private/
/prototype/build.xml
/prototype/manifest.mf
/prototype/build/
/prototype/dist/

# Vim files
*.swp
*.swo

# Hidden directories
plans/

### ULBMAP ###

ULBMAP/app/src/main/assets/IMGMap/
