# LaTeX files
*.synctex.gz
*.aux
*.log
*.out

# Vim files
*.swp
*.swo

# Hidden directories
plans/
plan_de_travail/

*.xml
!./XML maps/*.xml

# Hide config file
GraphMaker/Config.py

# Python cache
**/__pycache__/*
