# LaTeX files
*.synctex.gz
*.aux
*.log
*.out

# Vim files
*.swp
*.swo

# Hidden directories
plans/
plan_de_travail/
*.xml
!XML maps/*.xml

# Hide config file
GraphMaker/app/Config.py

# Python cache
**/__pycache__/*

### OWL ###
OWL/app/src/main/assets/IMGMap/

